*{
  padding: 0;
  margin:0;
}
body
{
background-color: grey;
}
.ListContainer
{
width: 500px;
height: 500px;
background-color: rgb(232, 248, 248);
margin: 8rem auto;
border-radius: 2rem;
}
.title{
  font-family: cursive;
  font-size: 2rem;
margin:  4rem 4rem ;

}
.btn{
  font-family: cursive;
 padding: 0.3rem;
}
.btnSpan
{
  margin: 2rem;
}